<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students Portal</title>
  </head>
  <body>
    <div class="main-container">
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav> -->
      <div
        class="p-2 text-center row m-0"
        style="background-color: mediumslateblue; color: white"
      >
        <a
          class="navbar-brand text-light fs-4"
          routerLink="/home"
          routerLinkActive="active"
        >
          Students' Portal</a
        >
      </div>
      <div class="components-container pt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </body>
</html>
