<div class="container">
  <div class="student-card p-3 pb-5">
    <img
      class="avatar"
      width="150"
      height="150"
      src="https://source.unsplash.com/random"
    />

    <h2 class="student-name">{{ student.name }}</h2>
    <h4 class="student-info">{{ student.email }}</h4>
    <h4 class="student-info">Age: {{ student.age }}</h4>

    <div *ngIf="isEdit" class="container">
      <form [formGroup]="studentForm">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter the name "
            id="name"
            name="name"
            formControlName="name"
          />
          <input
            type="number"
            class="form-control mt-3"
            id="age"
            name="age"
            placeholder="Enter the age "
            formControlName="age"
          />
          <input
            type="text"
            class="form-control mt-3"
            placeholder="Enter the email "
            id="email"
            name="email"
            formControlName="email"
          />
          <div
            *ngIf="isFormDirty && !isFormValid"
            class="alert alert-danger mt-3 mb-4"
          >
            <li *ngIf="isNameDirty && !isNameValid">
              Please enter a valid name
            </li>
            <li *ngIf="isEmailDirty && !isEmailValid">
              Please enter a valid email
            </li>
            <li *ngIf="isAgeDirty && !isAgeValid">
              Please enter age between (13 and 30)
            </li>
          </div>
        </div>
      </form>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="row col-6 justify-content-around">
        <button
          class="btn col-4"
          [ngClass]="isEdit ? 'btn-success' : 'btn-primary'"
          (click)="handleEdit()"
        >
          {{ isEdit ? "Save" : "Edit" }}
        </button>
        <button
          class="btn btn-danger col-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="fs-6">
            Are you sure you want to delete {{ student.name }} ?
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-primary"
            (click)="deleteUser()"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
