.container {
  font-family: "Comfortaa", cursive;
  margin: 5% auto;
}

.student-card {
  background-image: linear-gradient(
    to top,
    rgba(236, 234, 235, 0.79) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  background: rgba(255, 255, 255, 0.95);
  width: 40%;
  border-radius: 5%;
  margin: auto;
  text-align: center;
  top: 0;
  left: 0;
}

.avatar {
  border-radius: 50%;
  margin-top: -8%;
}

.student-name {
  color: #344055;
  margin: 7px 0 7px 0;
}

.student-info {
  color: #888098;
  margin-top: 0;
  font-size: 14px;
  margin: 7px 0 7px 0;
}
